body {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px;
    /* padding: 40px; */
    background-color: #f1efef;
}

.container {
    height: 495px;
    width: 300px;
    border: 0.185rem solid #000000;
    border-radius: 0.5rem;
    background-color: #dadada;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    border: none;
    border-radius: 1.5rem;
    
}

/* .result {
    height: 30%;
    width: 97%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin: 3px;
    border: none;
    border-radius: 1.6rem;
} */

#inputbox {
    height: 30%;
    width: 97%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin: 3px;
    border: none;
    border-radius: 1.6rem;
    font-size: 1.5rem;
    text-align: right;
    /* justify-content:last baseline; */
    box-shadow: inset 7px 7px 25px #e0e0e0,
                inset -7px -7px 22px #f0f0f0;
}

.keypad {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.4rem;
    /* margin: 1rem; */
}

.upper {
    height: 60%;
    /* width: 92%; */
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin: 5px 0 0 0;
    /* border: 3px solid black; */

}

.upBtn {
    /* margin: 10px; */
    /* border: 3px solid black; */
    height: 40px;
    width: 5.8rem;
    /* padding: 10px; */
    /* margin: 10px; */
    text-align: center;
    border: none;
    border-radius: 1.2rem;
    font-size: large;
    font-weight: 500;
    box-shadow: inset 11px 11px 25px #e0e0e0,
                inset -11px -11px 22px #f0f0f0;

}

.lower {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.3rem;
}

.btn, .btnOp {
    height: 68px;
    width: 23%;
    font-weight: 600;
    margin: 1px;
    font-size: medium;
    border: none;
    border-radius: 1.8rem;
    font-size: large;
    box-shadow: inset 11px 11px 25px #e0e0e0,
    inset -11px -11px 22px #f0f0f0;
    /* box-shadow: 8px 8px 20px #b9b9b9,
    -8px -8px 20px #f0f0f0; */
}


.btn:hover {
    background-color: #ffffff;  
}

.btnOp:hover {
    background-color: #d6d4d4;
    /* background-color: #e7e7e7; */
}
.upBtn:hover {
    background-color: #ffffff;
}